S3method(print, pdmlist)

if (requireNamespace("ggplot2", quietly = TRUE)) {
    import(ggplot2)
}

if (requireNamespace("Matrix", quietly = TRUE)) {
importMethodsFrom("Matrix", 
                  "*", "solve", "t", "which", "diag", "crossprod", "tcrossprod", 
                  "chol")
}

if (requireNamespace("pbkrtest", quietly = TRUE)) {
    import(pbkrtest)
}

if (requireNamespace("plyr", quietly = TRUE)) {
    importFrom(plyr, alply)
}
  import(parallel)
  import(lmeInfo)
  import(lme4)
  import(glmmTMB)
  importFrom("plotly", "plot_ly", "add_trace")  
  importFrom("HRW", "pointsInPoly")
  importFrom("lmeSplines", "approx.Z", "smspline")
  importFrom("numDeriv", "hessian", "jacobian")
  importFrom("MASS", "theta.ml", "negative.binomial")
  importFrom("lmerTest", "as_lmerModLmerTest", "contest1D")
  importFrom("splines", "ns", "bs")
  importFrom("splines2", "bernsteinPoly", "bSpline", "naturalSpline", "cSpline", "iSpline", "mSpline")
  importFrom("nlme", "getData", "intervals", "getResponse")
  importFrom("grDevices", "dev.new")
  importFrom("Matrix", ".bdiag", "Diagonal", "forceSymmetric", "Matrix", "nearPD")
  importFrom("graphics", "abline", "axis", "box", "identify", "image",
             "legend", "lines", "par", "plot", "points", "text", "title")
  importFrom("methods", "is", "slot", "as")
  importFrom("stats", "anova", "as.formula", "aov", "coef", "complete.cases", "confint", "delete.response",
             "density", "dist", "family", "fitted", "formula", "ftable", "gaussian", "lm", "na.action",
             "lm.influence", "loess.smooth", "logLik", "make.link", "median", "model.response", 
             "model.frame", "model.matrix", "na.omit", "na.pass",
             "p.adjust", "pf", "pnorm", "poisson", "ppoints", "predict", "pt", "ptukey",
             "qnorm", "qqline", "qqnorm", "qt", "quantile", "resid", "residuals", "sd",
             "setNames", "sigma", "terms", "update", "vcov", "xtabs",
			 "aggregate", "get_all_vars")
  importFrom("utils", "as.roman", "combn", "edit")

export(ci_mcp, contrastmeans, CookD, covariatemeans, df_term, Kmatrix, permanova.lmer, permindex, permlmer, permmodels, PMplot, predictmeans, R2_glmm, residplot, semipred, semireg, semireg_tmb, se_ranef, smZ, varcomp)
